@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

:root {
    --cor-bg: #ccc;
    --cor-site: rgb(173, 139, 240);
    --cor-button: #693792;
}

form button {
    background-color: var(--cor-button);
    color: rgb(255, 255, 255);
    padding: 13px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2% 30% 4% 30%;
    
}
#pedido {
    width: 90%;
    
    margin-bottom: 3%;
}

form button:hover {
    opacity: 0.8;
    border-radius: 6px;
}

@media screen and (min-width: 320px) and (max-width: 980px) {

    h1 {
        font-family: Elsie;
        font-size: 39px;
        font-style: normal;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    form {
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        background-color:#f1ebe2;
        display: flex;
        flex-direction: column;    
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
        padding: 10px 0;
    }

    form * {
        margin-top: 10px;
    }

    form>button {
        margin: 25px 30%;
    }
}

legend {
    padding: 15px;
}

@media screen and (min-width: 980px) {

    h1 {
        font-family: Elsie;
        font-size: 39px;
        font-style: normal;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    form {
        border-radius: 5px;
        background-color:#f1ebe2;
        padding: 20px 50px;
        width: 75%;
        margin: 1% auto 10% auto;
        display: flex;
        flex-direction: column;
    }
    legend {
        font-size: 18px;
        padding: 10px;
    }

    form * {
        padding: 5px;
        font-size: 17px;
    }

    fieldset {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        padding: 10px;
    }

    label {
        text-align: right;
        font-size: 18px;
    }

    #form_nome {
        width: 60%;
    }
}