:root {
    --cor-bg: #ccc;
    
}

/* DEFINIÇÃO DAS CORES QUANDO SE PASSA COM O RATO SOBRE OS ELEMENTOS DAS REDES SOCIAIS */
.social-icons a.facebook:hover {
    background-color:#3b5998
}
.social-icons a.twitter:hover {
    background-color:#00aced
}
.social-icons a.instagram:hover {
    background-color:#ff10af
}
.social-icons a.linkedin:hover {
    background-color:#007bb6
}

@media screen and (min-width: 640px) {
    .site-footer {
        background-color:#ffffff;
        padding: 5px 0 20px;
        font-size:14px;
        line-height: 24px;
        color:#272727;
    }

    .site-footer hr {
    border-top-color:#bbb;
    opacity:0.5;
    margin-top: 5%;
    }

    .site-footer .social-icons {
        text-align: right;
        margin: -31px 0;
        padding-bottom: 1.5%;
        padding-left: 0;
        margin-bottom: 0;
        padding-right: 6%;
        list-style: none;
    }

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height:40px;
        margin-left: 8px;
        margin-right:2px;
        border-radius:100%;
        background-color:#2d2b2e;
    }

    .site-footer .container {
        background-color: white;
        margin-bottom: -55px;
        border-color: white;
        padding-bottom: 0%;
        padding-top: 4%;
    }

    .copyright-text {
        margin-top: 24px;
        text-align: center;
        width: 100%;
        font-size: 16px;
    }

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
    }

    .social-icons a {
        background-color: #eceeef;
        color: #e9d8f7;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
        color:#fff;
        background-color:#29aafe
    }
}

@media (max-width: 640px) {
    .site-footer {
        display: flex;
        flex-flow: column wrap;
    }


    .copyright-text {
        margin-top: 24px;
        text-align: center;
        width: 100%;
        font-size: 16px;
    }

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
    }

    .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
        color:#fff;
        background-color:#29aafe
    }

    .social-icons a {
        background-color: #eceeef;
        color: #e9d8f7;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height:40px;
        margin-left: 8px;
        margin-right:2px;
        border-radius:100%;
        background-color:#2d2b2e;
    }
}
