* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura";
}

@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
:root {
  --cor-bg: #ccc;
  --cor-site: rgb(173, 139, 240);
}

@media screen and (min-width: 640px) {

  #hamnav label, #hamburguer {
    display: none;
  }

  /* HEADER */
  header {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.473);
    z-index: 10;
    background-color: #fff;
    padding-left: 8px;
    padding-right: 20px;
  }
  
  .logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    width: 160px;
  }

  .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 50%;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 45px;
    display: block;
    position: relative;
    padding: 0.2em 0;
  }

  .links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(160, 133, 214);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .links a:hover::after,
  .links a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

@media screen and (max-width: 640px) {

  #hamnav label {
    display: block;
    background: rgb(213, 183, 226);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.473);
  }
  
  .logo-row {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    width: 160px;
  }

  .links {
    display: none;
    border-radius: 0 0 5px 5px;
  }

  #hamnav input:checked ~ .links {
    display: block;
    animation: show_menu 1s forwards;
  }

  .links li {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    text-align: right;
    line-height: 30px;
  }

@keyframes show_menu {
  from {
      background-color: white;
      font-size: 0px;
      padding: 0;
      opacity: 0;
  }
  to {
      background-color: rgb(213, 183, 226);
      font-size: 100%;
      padding: 5px 20px;
      opacity: 1;
  }
}