*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 20px;*/
}
header
{
    animation: color-change 5s ease-in-out alternate infinite;
}
@keyframes color-change {
    0%
    {
        background-color: honeydew;
    }
    50%
    {
        background-color: lightcyan;
    }
    100%
    {
        background-color: lightseagreen;
    }
}
.navegador
{
    width: 100%;
    height: 5rem;
    background: linear-gradient(black, white);
}
.menu
{
    display: flex;
    top: 60px;
    width: 100%;
    margin: 20px;
}
