/* MENU NAV */
/*Configurações Padrão*/
ul.menu, .menu li, .menu a
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul.menu ul
{
    position: absolute;
    display: none;
    box-shadow: 15px 15px 15px #333;
    border-radius: 15px;
}
/* Configurações nivel 1*/
ul.menu
{
    float: left;
    border-radius: 5px;
}
.menu li
{
    float: left;
    width: auto;
    position: relative;
}
.menu li a
{
    display: block;
    padding: 0px 20px;
    line-height: 45px;
    height: 45px;
    float: left;
    transition: all 0.3s linear;
    border-radius: 5px;
}
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1
{
    display: block;
    top: 45px;
    left: 0;
    padding: 0px;
    width: 180px;
    border-radius: 5px;
}
.menu ul.submenu-1 a
{
    width: 180px;
    padding: 0 20px;
    border-radius: 5px;
}
/* Configurações nivel 3*/
.menu li:hover > ul.submenu-2
{
    display: block;
    top: 0;
    left: 130px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}
.menu ul.submenu-2 a
{
    width: 80px;
    padding: 0 10px;
    border-radius: 5px;
}
#learn
{
    position: absolute;
    right: 0;
}
/* Configurações para submenu aprender*/
.menu li:hover > ul.submenu-3
{
    display: block;
    top: 45px;
    right: 0;
    padding: 10px;
    width: 90px;
    border-radius: 5px;
}
.menu ul.submenu-3 a
{
    width: 80px;
    padding: 0 10px;
    border-radius: 5px;
}

/*Configurações de cores*/
/*nivel 1*/
.menu
{
    background: #CCC;
}
.menu a
{
    color: #000;
}
.menu li:hover > a
{
    background: #999;
    color: #fff;
}
/*nivel 2*/
.submenu-1
{
    background: #999;
}
.submenu-1 a
{
    color: #fff;
}
.submenu-1 li:hover > a
{
    background: #666;
}
/*nivel 3*/
.submenu-2
{
    background: #666;
}
.submenu-2 a
{
    color: #fff;
}
.submenu-2 li:hover > a
{
    background: #333;
}
/*nivel 4*/
.submenu-3
{
    background: #333;
}
.submenu-3 a
{
    color: #fff;
}
.submenu-3 li:hover > a
{
    background: #000;
}
