@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

:root {
    --cor-bg: #ccc;
    --cor-site: rgb(173, 139, 240);
  }
  
main
{
    width: 100%;
    margin: 50px 10px;
}

.pratos
{
      display: flex;
      margin: 80px 90px 90px 120px;
}
  
.pratos h3{
      text-align: left;
      padding-bottom: 10%;
}

h3 {
      font-family: elsie;
      font-size: 35px;
}
.pratos > .descricao
{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
}
  
.container {
    width: 75%;
    margin: 5em auto;
    border: 5px solid rgb(231, 221, 213);
    border-style: ridge;
    padding: .3em 4em 4em 13em;
    background-color: #faf4eb;
  }
    
h4 {
      
      position: relative;
      font-weight: 600;
      margin: .7em 0 1em 0;
}
.pratosdia p {
     font-size: 19px;
     
}
#bolonhesa  {
      float:right;    
      margin: 0 75px 0 15px;
      }
