main
{
    width: 60%;
    border: 1px solid black;
    margin: 50px 20%;
}
.pratos, .menus
{
    display: flex;
    margin: 20px;
}
.pratos > .descricao
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}