@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

:root {
    --cor-bg: #ccc;
    --cor-site: rgb(173, 139, 240);
    --cor-button: #693792;
}

/* ELEMENTOS COMUNS */

form button {
    background-color: var(--cor-button);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    opacity: 0.7;
    border-radius: 6px;
}

label {
    margin: 0;
    text-align: center;
}



@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {

    h1 {
        font-family: Elsie;
      }

    form {
        border: 3px solid var(--cor-site);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .linha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linha:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .linha:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .linha:nth-child(2)>input {
        width: 85%;
    }
    .linha:nth-child(3)>* {
        width: 60%;
    }

    .linha:nth-child(4) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .linha:nth-child(4)>* {
        width: 20%;
    }

    form * {
        margin-top: 10px;
    }
}

@media screen and (min-width: 640px) {

    h1 {
        font-family: Elsie;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 95px;
        color: #000000;
        margin-bottom: 35px;
        margin-top: 70px;
      }
    
    form * {
        font-size: large;
        margin: 20px 0;
        padding: 5px;
        flex: 1 1 auto;
    }

    form {
        border: 3px solid var(--cor-site);
        border-radius: 5px;
        background-color:#f1ebe2;
        padding: 5% 10%;
        display: flex;
        flex-flow: column nowrap;
        width: 75%;
        margin: 1% auto 10% auto;
    }

    .linha {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;
    }

    #form_nome {
        width: 100%;
    }

    main {
        padding: 30px 50px 0 50px;
    }
}